*
{

	box-sizing: border-box;
}
.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


body
{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman",cursive,sans-serif;
}
h1
{
	margin-bottom: 15px;
	text-align: center;
	color: purple;
}
.box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: purple;
	padding: 20px;
	border:2px solid black;
}
p:nth-child(0){
	font-size: 1em;
}
.speech{
  border: 1px solid black;
  width: 90%;
  height: 200px;
  margin: 5%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 40px;
  background-color:gray;
  overflow: none;
}

.speaker{
	text-decoration: bold;
	text-align: center;
}

@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		width: 33.33%
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-12
	{
		float: left;
		width: 100%
	}
	.col-md-6
	{
		float: left;
		width: 50%
	}
}
p a{
	text-decoration:none;
	color: yellow;
	bottom:20px;
	overflow: none;
}

@media (max-width: 767px)
{
	.col-sm-12
	{
		float: left;
		width: 100%
	}
}
